<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.spoinnakerweb.com.drc-tpa"
        versionCode = "197" 
        version     = "1.2" >

    <!-- versionCode is optional and Android only -->

    <name>iTransition</name>

    <description>
        Give us 10 minutes, this app will give you a Draft Transition Plan for your IEP. 
    </description>

    <author href="http://www.drckansas.org" email="info@drckansas.org">
        Hardeep Shoker 
    </author>
    
    <feature name="http://api.phonegap.com/1.0/network" />


</widget>
